<div class="container">
  <div class="row">
    <form action="/add" class="col s10" method="post">
      <div class="input-field col s4">
        <input id="name" type="text" class="validate" name="name" />
        <label for="name">Name</label>
      </div>
      <div class="input-field col s4">
        <input id="year" type="number" class="validate" name="year" />
        <label for="year">Year</label>
      </div>
      <div class="input-field col s8">
        <input type="submit" class="validate" value="Send" />
      </div>
    </form>
  </div>

</div>